<div class="container py-5">
  <div class="text-center">
    <h1 class="display-4 fw-bold">Sistema de Cadastro de Veículos 🚗</h1>
    <p class="lead text-muted">
      Gerencie seus veículos de forma simples e rápida.
    </p>

    <div class="mt-4">
      <%= link_to "Ver Veículos", veiculos_path, class: "btn btn-primary btn-lg me-2" %>

      <% if current_user.admin? %>
        <%= link_to "Novo Veículo", new_veiculo_path, class: "btn btn-success btn-lg" %>
      <% end %>
    </div>
  </div>
</div>