.titulo-veiculos {
  font-size: 32px;
  font-weight: bold;
}

.card {
  border-radius: 10px;
}

.table tbody tr {
  transition: all 0.3s ease;
}

.table tbody tr:hover {
  background-color: #f2f2f2;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}